{% if include.files != empty %}
    <table>
        {% for file in include.files %}
            <tr>
                {% assign mirror = include.artifact-root | append: include.path %}
                {% assign dist = include.checksum-root | append: include.path %}
                {% assign basename = file | split: "/" | last %}
                <td><a href="{{ mirror | append: file }}"
                       onclick="trackDownload(
                           'click',
                           '{{ basename }}'
                       )"
                       oncontextmenu="trackDownload(
                           'menu',
                           '{{ basename }}'
                       )">{{ basename }}</a></td>
                <td>[ <a href="{{ dist | append: file }}.md5">MD5</a> ]</td>
                <td>[ <a href="{{ dist | append: file }}.sha">SHA</a> ]</td>
                <td>[ <a href="{{ dist | append: file }}.asc">PGP</a> ]</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
