{% if include.files != empty %}
    <table>
        {% for file in include.files %}
            <tr>
                {% assign mirror = include.artifact-root | append: include.path %}
                {% assign dist = include.checksum-root | append: include.path %}
                {% assign basename = file | split: "/" | last %}
                <td><a href="{{ mirror | append: file }}"
                       onclick="trackDownload(
                           'click',
                           '{{ basename }}'
                       )"
                       oncontextmenu="trackDownload(
                           'menu',
                           '{{ basename }}'
                       )">{{ basename }}</a></td>
                {% for checksum in include.checksum-suffixes %}
                    <td>[ <a href="{{ dist | append: file | append: checksum[1] }}">{{ checksum[0] }}</a> ]</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
