<!-- Header -->
<div id="header">
    <h1><a href="/">{{ site.title }}</a></h1>
    <ul id="navigation" class="menu">
        {% assign menu_pages = site.pages %}
        {% for link in site.links %}
            {% assign menu_pages = menu_pages | push: link %}
        {% endfor %}
        {% assign menu_pages = menu_pages | sort: 'menu-weight') %}
        {% for menu_page in menu_pages %}
            {% if menu_page.menu-title %}
                <li><a
                    {% if menu_page.location %}
                        href="{{ menu_page.location }}"
                    {% else %}
                        href="{{ menu_page.url | prepend: site.baseurl }}"
                    {% endif %}
                    {% if menu_page.menu-class %}
                        class="{{ menu_page.menu-class }}"
                    {% endif %}>{{ menu_page.menu-title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
