<!-- Header -->
<div id="header">
    <div class="logo"><a href="/"><img src="/images/guac-tricolor.png"
        alt="\_^/"/></a></div>
    <h1><a href="/">Guacamole</a></h1>
    <div id="navigation">
        <ul class="menu">
            {% for page in site.pages %}
                {% if page.title %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Social stuff -->
<div class="social-buttons">

    <!-- Twitter -->
    <div class="social-button">
        <a href="https://twitter.com/GuacDev" class="twitter-follow-button" data-show-count="false">Follow @GuacDev</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <!-- Facebook -->
    <div class="social-button">
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fguacdev&amp;width=90&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
    </div>

</div>
