<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    {% include head.html %}

    <body class="{{ page.class }}">

        {% include header.html %}

        <!-- Content -->
        <div class="fullwidth-content">
            {{ content }}
        </div>

        {% include footer.html %}

        <!-- jQuery -->
        <script src="/scripts/jquery.min.js" type="text/javascript"></script>

        <!-- Dropdown toggle -->
        <script src="/scripts/dropdown.js" type="text/javascript"></script>

    </body>
</html>
