/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use 'globals';

/*
 * Colors for general typography.
 */

$light-text-color: white;
$dark-text-color: black;

$light-link-color: #99e9a9;
$dark-link-color: #12551f;

$text-color: globals.lightdark($dark-text-color, $light-text-color);
$background-color: globals.lightdark(white, black);
$link-text-color: globals.lightdark($dark-link-color, $light-link-color);

/*
 * Header section (common to all pages).
 */

$header-background-color: #102510;
$header-text-color: white;

/*
 * Footer section (common to all pages).
 */

$footer-background-color: $header-background-color;
$footer-text-color: #ccc;
$footer-link-text-color: $footer-text-color;

/*
 * Callouts (ie: sections that begin with a "note", "warning", "important", or
 * similar header).
 */

$note-heading-background-color: globals.lightdark(#87dc8d, #304d32);
$note-background-color: globals.lightdark(#e1ffe3, #292f29);

