/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use 'colors';

.mailing-list-title {
    margin-bottom: 0;
}

p.mailing-list-archive a[href] {
    border: 1px solid colors.$link-text-color;
    text-decoration: none;
    border-radius: 3px;
    padding: 0.25em 0.5em;
    font-weight: normal;
}

p.mailing-list-archive a[href]:hover {
    text-decoration: underline;
}

p.mailing-list-archive {
    margin-left: 1em;
}

table.mailing-list-instructions th:after {
    display: inline-block;
    content: ' ';
    border-bottom: 1.5pt dotted;
    flex: 1;
    min-width: 3em;
    margin-left: 0.125em;
    height: 1em;
    margin-top: -1.5pt;
}

table.mailing-list-instructions th {
    display: flex;
    text-align: left;
}

